  .bg-dark {
    background-color: #000 !important;
  }

  .display-4 {
    font-size: 3rem;
    font-weight: bold;
  }

  .lead {
    font-size: 1.25rem;
  }

  input::placeholder,
  textarea::placeholder {
    color: #fbf9f9;
  }
  .form-text::placeholder {
    color: rgb(184, 179, 179); /* Change this to your desired color */
    opacity: 1; /* Ensures the color is fully opaque */
}


  .contactus-text p {
    font-size: 84px;
    font-family: 'Degular Display';
    font-weight: 600;
    letter-spacing: 1px;
    text-align: justify;
    line-height: 55px;
  }

  .lead-contact p {
    font-size: 24px;
    font-family: 'Degular Display';
    font-weight: 400;
    letter-spacing: 1px;
    text-align: justify;
    margin: 0px;
    line-height: 24px;
  }

  .form-text {
    font-size: 18px;
    font-family: 'Degular Display';
    font-weight: 400;
    letter-spacing: 1px;
    padding: 12px;
    border-radius: 0px;
    background-color: rgb(45, 45, 45);
  }