.grid-item {
  transition: all 1s ease; /* Increased to 1s */
  padding: 15px;
  display: table-cell;
  position: relative; /* Needed for text overlay positioning */
}

.image-brochure-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 330px;
  transition: transform 1s ease; /* Increased to 1s */
  border-radius: 20px;
}

/* Add a zoom-out and size increase effect */
.image-brochure-container:hover {
  transform: scale(1.2); /* Increases the overall size of the container */
}

.image-brochure-container img {
  transition: transform 1s ease; /* Increased to 1s */
  transform-origin: center;
  width: 100%;
  height: 330px;
  object-fit: cover;
  border-radius: 20px;
}

/* Zoom-out effect on hover (scale down the image slightly) */
.image-brochure-container:hover img {
  transform: scale(0.8); /* Shrinks the image on hover */
  border-radius: 20px;
}

/* Text overlay styling */
.brochure-overlay {
  position: absolute;
  top: 80%;
  left: 35%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  font-weight: 900;
  opacity: 0; /* Hidden by default */
  transition: opacity 1s ease; /* Increased to 1s */
  font-family: "Degular Display";
  display: flex;
  align-items: center;
  gap: 10px;
}

.image-brochure-container:hover .brochure-overlay {
  opacity: 1; /* Show text on hover */
}

.brochure-title {
  font-family: Degular Display;
  font-size: 100px;
  font-weight: 500;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .brochure-title {
    font-size: 50px;
    line-height: 50px;
  }

  .grid-item {
    padding: 10px;
    display: inline;
  }

  .brochure-overlay {
    top: 80%;
    left: 50%;
    font-size: 30px;
  }
}
