.cofee-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
  height: 70vh; /* Full viewport height */
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #222222 100%);
  padding: 20px; /* Add some padding */
  box-sizing: border-box; /* Include padding in the element's total width and height */
}

.cofee-section {
  text-align: left; /* Center align text */
  flex: 1; /* Take up equal space */
  max-width: 50%; /* Limit width to 50% */
  margin-left: 60px;
}

.cofee-section h1 {
  font-family: "Degular Display", sans-serif;
  font-size: 96px; /* Fixed font size */
  font-weight: 500;
  line-height: 1.2; /* Adjust line height */
  margin: 0; /* Remove default margin */
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-left: 10px;
  margin-right: 5px;
  color: #fff; /* Ensure text color is visible */
}

.hover-button {
  margin-top: 20px; /* Add some space above the button */
  padding: 10px 20px; /* Add padding to the button */
  font-size: 16px; /* Set font size */
  background-color: #333; /* Button background color */
  color: #fff; /* Button text color */
  border: none; /* Remove border */
  margin-left: 5%;
  border-radius: 5px; /* Add border radius */
  cursor: pointer; /* Change cursor on hover */
}

.image-section {
  flex: 1; /* Take up equal space */
  max-width: 50%;
  margin-right: 0%;
  text-align: right; /* Right align image */
}
.image-section img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0; /* Center the image and add margin */
}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
  .cofee-content {
    flex-direction: unset; /* Stack items vertically */
    text-align: center; /* Center align text */
  }

  .cofee-section {
    text-align: center; /* Center align text */
    max-width: 100%; /* Full width */
  }

  .image-section {
    text-align: center; /* Center align image */
    max-width: 100%; /* Full width */
  }

  .cofee-section h1 {
    font-size: 72px; /* Adjust font size for smaller screens */
  }

  .hover-button {
    font-size: 14px; /* Adjust font size for smaller screens */
    padding: 8px 16px; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 576px) {
  .cofee-section h1 {
    font-size: 48px; /* Adjust font size for smaller screens */
  }

  .hover-button {
    font-size: 12px; /* Adjust font size for smaller screens */
    padding: 6px 12px; /* Adjust padding for smaller screens */
  }
}
