/* Full-screen swiper styles */
.swiper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide {
  background-size: cover; /* Cover entire slide */
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; /* Ensure full height */
  display: flex; /* Center content */
  align-items: flex-end;
  justify-content: flex-start;
}

.slide-content {
  padding: 80px;
  padding-bottom: 100px;
  color: white;
  text-align: right !important;
}

.slide-content h1 {
  font-size: 64px;
  line-height: 80px;
  margin: 0;
  margin-bottom: 0;
  letter-spacing: 2px;
}

.slide-content p {
  text-align: left !important;
  letter-spacing: 2px;
}

/* Pagination bullets as underscores */
.swiper-pagination-bullet {
  width: 60px; /* Longer for underscore effect */
  height: 5px; /* Flat rectangle */
  background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
  margin: 0 5px;
  opacity: 0.8; /* Slight transparency */
  border-radius: 0; /* No rounding for rectangular shape */
}

.swiper-pagination-bullet-active {
  background-color: #fff; /* Fully white for active */
  opacity: 1;
}

.swiper-pagination {
  position: absolute; /* Required for custom placement */
  bottom: 60px !important; /* Adjust position */
  left: -60px !important; /* Align bottom-right */
  text-align: right;
}

.swiper-container {
  position: relative; /* Ensure the parent is positioned */
}

@media screen and (max-width: 992px) {
  .slide-content {
    padding: 40px;
    padding-bottom: 60px;
  }

  .slide-content h1 {
    font-size: 48px;
    line-height: 60px;
  }

  .slide-content p {
    text-align: right !important;
    letter-spacing: 2px;
  }
}
