body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* src/index.css */
@font-face {
  font-family: 'Degular Display';
  src: url('./assets/fonts/DegularDisplay-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Degular Display', sans-serif;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
